/* 全体のスタイル設定 */
body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: black;
}

/* ヘッダーセクションのスタイルと固定 */
header {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .hero {
    padding: 1rem 1rem;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}

.hamburger.show {
    opacity: 1;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin-bottom: 4px;
    border-radius: 5px;
}

.progress-container {
    width: 100%;
    height: 2px; /* シークバーの高さを調整 */
    background: #555;
    position: relative;
}

.progress-bar {
    height: 100%;
    background: #0073e6;
    width: 0;
}

/* ナビゲーションメニューを横並びにする */
nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.5s ease;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* セクションのスタイル */
.section {
    padding: 8rem 1rem 4rem 1rem; /* ヘッダー固定分のスペースを追加 */
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.section h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.section p, .section ul {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* テキストのアニメーション */
h1 span, h2 span {
    display: inline-block;
    opacity: 0;
    transition: color 0.04s, opacity 0.2s;
}

/* 背景画像を使用したセクション */
.background-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    position: relative;
    padding: 6rem 1rem 4rem 1rem; /* 他のセクションと同じ高さに設定 */
    height: 500px; /* 高さを調整 */
}

.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.background-section h2 {
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

/* その他のスタイル */
.db_profile_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.db_profile_box_r {
    flex: 1;
}

.db_profile_img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.db_profile_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.db_profile_box_l {
    flex: 2;
    padding-left: 2rem;
}

.item_table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    border: 1px solid #ddd;
}

.item_table th, .item_table td {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

.actor_name {
    font-size: 1.5rem;
    margin: 0;
}

.actor_hurigana {
    font-size: 1rem;
    color: #777;
}

.actor_name strong {
    font-size: 1.75rem;
}

.profile-container {
    width: 80%;
    margin: 50px auto;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    background-color: #444;
    padding: 10px 20px;
    border-bottom: 2px solid #0073e6;
}

.profile-header h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.profile-content {
    display: flex;
    padding: 20px;
}

.profile-info {
    flex: 2;
    margin-right: 20px;
}

.profile-info table {
    width: 100%;
    border-collapse: collapse;
}

.profile-info th, .profile-info td {
    padding: 10px;
    border: 1px solid #555;
    text-align: left;
}

.profile-info th {
    background-color: #555;
}

.profile-info td {
    background-color: #333;
}

.english-name {
    color: #0073e6;
    font-size: 0.9em;
    display: block;
}

.profile-image {
    flex: 1;
    text-align: center;
}

.profile-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* card section styles */
#cord {
    margin-top: 180px; 
    margin-bottom: 80px; 
    padding-top: 150px; 
    padding-bottom: 150px; 
}

#cord .container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#cord .card {
    width: 600px;  /* 2倍の幅 */
    height: 400px;  /* 2倍の高さ */
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg) rotateZ(-20deg);
    transition: transform 30s;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    animation: spin 30s linear infinite;
}

#cord .card.clicked {
    transform: rotateY(0deg) rotateZ(0deg);
    transition: transform 0.5s; /* アニメーションの時間を調整 */
    animation: none;
}

#cord .front, 
#cord .back, 
#cord .left, 
#cord .right, 
#cord .top, 
#cord .bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

#cord .front, 
#cord .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-size: 24px;
    color: #000000;
}

#cord .back {
    transform: rotateY(180deg);
}

#cord .left, 
#cord .right, 
#cord .top, 
#cord .bottom {
    background-color: #ccc; /* 側面の色 */
    border-radius: 0; /* 側面は角丸を無効 */
}

#cord .left {
    width: 20px;
    height: 100%;
    transform: rotateY(90deg) translateZ(300px);
}

#cord .right {
    width: 20px;
    height: 100%;
    transform: rotateY(-90deg) translateZ(300px);
}

#cord .top {
    width: 100%;
    height: 20px;
    transform: rotateX(90deg) translateZ(200px);
}

#cord .bottom {
    width: 100%;
    height: 20px;
    transform: rotateX(-90deg) translateZ(200px);
}

#cord .content {
    display: flex;
    width: 100%;
    height: 100%;
}

#cord .text {
    flex: 2;
}

#cord .address {
    margin-top: auto;
}

#cord .photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cord .face-photo {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
}

#cord h1 {
    font-size: 36px;
}

#cord h2 {
    font-size: 24px;
}

#cord p {
    font-size: 12px;
    line-height: 1.2; /* 行間を狭める */
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    header .hero {
        padding: 0.5rem 1rem;
    }

    .hamburger {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: black;
        opacity: 0;
        transform: translateY(-20px);
    }

    nav ul.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    nav ul.hide {
        display: flex;
        opacity: 0;
        transform: translateY(-20px);
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: black;
        opacity: 0;
        transform: translateY(-20px);
    }

    nav ul li {
        margin: 1rem 0;
    }

    .section {
        padding: 6rem 1rem 2rem 1rem;
    }

    .profile-container {
        width: 95%;
    }

    .profile-content {
        flex-direction: column;
        align-items: center;
    }

    .profile-info {
        margin-right: 0;
    }

    .db_profile_box {
        flex-direction: column;
    }

    .db_profile_box_l {
        padding-left: 0;
    }

    .item_table th, .item_table td {
        padding: 0.5rem;
    }
}

/* フッターのスタイル */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.875rem;
}

footer a {
    color: #0073e6;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg) rotateZ(-20deg);
    }
    100% {
        transform: rotateY(-360deg) rotateZ(-20deg);
    }
}
